#main{
    background-image: url('/image/4.avif');
    background-size:  100% 100%;
    background-clip: text;
    -WebKit-background-clip: text;
    -moz-background-clip: text;
    color:transparent;
}